/*********** Module Spacer ***********/
.module-spacer--extra-extra-small {
  height: 12px;
}
.module-spacer--extra-small {
  height: 12px;
}
.module-spacer--small {
  height: 20px;
}
.module-spacer--medium {
  height: 32px;
}

/*********** Section ***********/
.c-main {
  padding: 80px 0px 15px 0px;
  min-height: 100vh;
}
.c-section-wrapin {
  margin: 0 auto;
  max-width: 575px;
  position: relative;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}

.c-section-container {
  margin: 0 auto;
  max-width: 575px;
  padding: 1rem;
  background-color: #f4f4f4;

  height: auto;
  width: calc(100% - 2rem);
  border-radius: 7px;
  background-color: #f4f4f4;
  box-shadow: inset -6px -6px 10px #cecece, inset 6px 6px 10px #e7e7e7;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.p-grid__column {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.p-grid__row {
  display: flex;
  flex-flow: row wrap;
}

.p-grid__list-images {
  display: flex;
  flex-flow: wrap;
  max-width: 60%;
}

.p-grid__list-images > .p-media__thumb {
  margin: 0.5rem;
  width: calc(50% - 1rem);
}

.p-media__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.p-media__thumb::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.p-media__thumb > img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/*********** Footer ***********/
.l-footer {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 1rem;
}

.l-footer > a {
  color: #444;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.u-text-small {
  font-size: 0.9rem;
}

.u-text__link-none {
  text-decoration: none;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text__headline {
  color: #3894ff;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 auto 1rem auto;
}

.u-display-none {
  display: none;
}

@media screen and (min-width: 576px) {
  /*********** Module Spacer ***********/
  .module-spacer--extra-extra-small {
    height: 16px;
  }
  .module-spacer--extra-small {
    height: 20px;
  }
  .module-spacer--small {
    height: 32px;
  }

  /*********** Section ***********/
  .c-section-wrapin {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  /*********** Module Spacer ***********/
  .module-spacer--medium {
    height: 48px;
  }
}

/*********** Promo Original ***********/
h1 {
  font-size: larger;
}

p {
  color: #636363;
}

hr {
  border-width: 3px 0px 0px 0px; /* 太さ */
  border-style: solid;
  border-color: rgb(201, 201, 201); /* 線色 */
  height: 1px; /* 高さ(※古いIE用) */
  width: 80%;
}
/*********** Promo  ***********/

.body-background {
  background: #e0e0e0;
  text-align: center;
}

.main-back {
  border-radius: 0px;
  background-color: #f4f4f4;
  /* box-shadow: inset -6px -6px 10px #a1a1a1, inset -6px -6px 10px #ffffff; */
  margin: 0em 1em;
  font-style: inherit;
  color: #4b4b4b;
}

.main-pop-flame {
  padding: 5em 4em;
  font-weight: bold;
  border-radius: 7px;
  background-color: #e0e0e0;
  box-shadow: inset 10px 10px 22px #c9c9c9, inset -10px -10px 10px #ffffff;
  margin: 0em 8em;
  min-height: 60vh;
}

.main-pop-flame2 {
  margin: 0 auto;
  max-width: 575px;
  padding: 4rem 1rem;
  background-color: #e0e0e0;
  height: auto;
  width: calc(100% - 2rem);
  border-radius: 7px;
  box-shadow: inset 10px 10px 22px #c9c9c9, inset -10px -10px 10px #ffffff;
}

.main-pop-flame3 {
  background-color: #f4f4f4;
  padding: 4em 0em;
  min-height: 90vh;
}

.sub-pop-flame {
  padding: 1em 4em;
  font-weight: bold;
  border-radius: 7px;
  background-color: #dbdbdb;
  margin: 0em 8em;
  min-height: 30vh;
}

@media screen and (max-width: 1000px) {
  .main-pop-flame {
    margin: 0em 2em;
    padding: 5em 1em;
  }
}

.main-top-flame {
  margin: 0em 2m;
  padding: 5em 1em;
}
@media screen and (min-width: 600px) {
  .main-top-flame {
    margin: 0em 2em;
    padding: 5em 8em;
  }
}
@media screen and (min-width: 1000px) {
  .main-top-flame {
    margin: 0em 2em;
    padding: 5em 16em;
  }
}

@media screen and (max-width: 1000px) {
  .sub-pop-flame {
    margin: 0em 2em;
    padding: 3em 1em;
  }
}

.sub-top-flame {
  margin: 0em 2m;
  padding: 3em 1em;
}
@media screen and (min-width: 600px) {
  .sub-top-flame {
    margin: 0em 2em;
    padding: 3em 8em;
  }
}
@media screen and (min-width: 1000px) {
  .sub-top-flame {
    margin: 0em 2em;
    padding: 3em 16em;
  }
}

.main-setting-image {
  border: 9px solid #ebebeb;
}

.main-setting-flame {
  margin: 0em 2em;
  padding: 2em 0em;
}
@media screen and (min-width: 600px) {
  .main-setting-flame {
    margin: 0em 2em;
    padding: 2em 4em;
  }
}
@media screen and (min-width: 1000px) {
  .main-setting-flame {
    margin: 0em 2em;
    padding: 2em 8em;
  }
}

.top-png {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 9px solid #00b2df; /* 枠線を付加 */
  background-color: #e6e6e6;
}

.top-title {
  text-align: center;
}

@media screen and (min-width: 1400px) {
  .top-title {
    position: relative;
    left: 5rem;
  }
}

.top-switch {
  font-size: 35px;
  font-weight: bolder;
  color: #6e6e6e;
}

.top-heignt {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.button-position {
  position: fixed;
  /* right: 20px;
  bottom: 20px; */
  right: 12rem;
  bottom: 6rem;
}

@media screen and (max-width: 1000px) {
  .button-position {
    right: 20px;
    bottom: 20px;
  }
}

.card-shadow {
  background-color: #ffffff;
  box-shadow: inset -5px -5px 10px #cacaca, inset 10px 10px 10px #ffffff;
}

/*********** Promo gird ***********/

.top-grid {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 750px) {
  .top-grid {
    display: block;
    text-align: center;
  }
}

.top-profile-grid {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-grid > p {
  margin-top: 0;
  font-weight: bold;
}

.top-profile-grid > p {
  margin-top: 0;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .grid-space {
    height: 30px;
  }
}
